body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#timeentryfrm {
    padding-bottom:15px;
    padding-top:5px;
}

#timeentryfrm button {
    margin-top: 22px;
}

.largefont {
    font-size:large;
}

.smallfont {
    font-size:small;
}

.rightbanner {
    padding-top: 10px;
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

#submenu > div  {
    padding-left: 0px;
    padding-right: 0px;
}


#submenu > div >div  {
    padding-left: 0px;
    padding-right: 0px;
}

#submenu > div {
    border-radius:5px;
}

#submenu {
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 10px;
}


.table > thead > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.table {
    margin-top: 10px;
}