
@{
    ViewBag.Title = "Suppliers";
}

<form class="form-inline" id="timeentryfrm">
    <div class="form-group">
        <div>
            <label class="control-label">Status:</label>
        </div>
        <select class="form-control" name="Status">
            <option value="1" selected="">All</option>
            <option value="2">Active</option>
            <option value="3">Disabled</option>
        </select>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">Text Search:</label>
        </div>
        <input class="form-control" name="TextSearch" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Display</button>
    </div>
    <div class="form-group pull-right">
        <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Add New Supplier</button>
    </div>
</form>

<table class="table-bordered table">
    <thead>
        <tr>
            <th><a href="javascript:SubSort('SupplierCode')">Supplier Code</a></th>
            <th><a href="javascript:SubSort('Name')">Name</a></th>
            <th><a href="javascript:SubSort('AccSysSupName')">MYOB Name</a></th>
            <th><a href="javascript:SubSort('Reference')">Reference</a></th>
            <th><a href="javascript:SubSort('Notes')">Notes</a></th>
            <th><a href="javascript:SubSort('Status')">Status</a></th>
            <th colspan="3"><a href="javascript:StartHelp('../','ActionIcons')" style="cursor:help;">Actions</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>AO </td>
            <td>Active-8 Organisation</td>
            <td></td>
            <td><span style="cursor:pointer;" title=""></span></td>
            <td><span style="cursor:pointer;" title=""></span></td>
            <td>Active</td>
            <td align="center" width="20"><a href="javascript:SubPgRID('Update',1)"><span class="glyphicon glyphicon-edit" title="Edit this record" /></a></td>
            <td align="center" width="20"><a href="javascript:SubDel(1,'John Brown')"><span class="glyphicon glyphicon-trash" title="Delete this record" /></a></td>
            <td align="center" width="20"><a href="javascript:SubPgRID('Drilldown',1)"><span class="glyphicon glyphicon-zoom-in" title="View Time and Expenses details" /></a></td>
        </tr>
    </tbody>
</table>

