@{
    ViewBag.Title = "Home Page";
}
<form class="form-inline" id="timeentryfrm">
    <div class="form-group">
        <div>
            <label class="control-label">Staff Member:</label>
        </div>
        <select class="form-control" name="Staff">
            <option value="8">Adam Johnson</option>
            <option value="16">Dave Clarke</option>
            <option value="2">Dave Smith</option>
            <option value="5">Emma Davidson</option>
            <option value="11">Jamie Davies</option>
            <option value="4">Jamie McDonald</option>
            <option value="15">Jeff Mills</option>
            <option value="17">Jeremy Gunter</option>
            <option value="1" selected="">John Brown</option>
            <option value="6">Kim O'Brien</option>
            <option value="18">Lisa Jules</option>
            <option value="3">Lucy Evans</option>
            <option value="22">Matt Higgins</option>
            <option value="9">Michael Boston</option>
            <option value="19">Nadia Ferguson</option>
            <option value="20">Nat Jefferson</option>
            <option value="13">Paul Lucas</option>
            <option value="7">Sarrah Conner</option>
            <option value="12">Steve McCarthy</option>
            <option value="10">Tammy Grant</option>
        </select>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">Period Start Date:</label>
        </div>
        <select class="form-control" name="StartDate">
            <option value="03 April 2017" class="OptionHighlight">03 April 2017</option>
            <option value="20 March 2017" class="OptionHighlight">20 March 2017</option>
            <option value="06 March 2017" class="OptionHighlight">06 March 2017</option>
            <option value="20 February 2017" class="OptionHighlight">20 February 2017</option>
            <option value="06 February 2017" class="OptionHighlight">06 February 2017</option>
            <option value="23 January 2017" class="OptionHighlight">23 January 2017</option>
            <option value="09 January 2017" class="OptionHighlight">09 January 2017</option>
            <option value="26 December 2016" class="OptionHighlight">26 December 2016</option>
            <option value="" class="OptionHighlight">-----------------------</option>
            <option value="12 December 2016" selected="">12 December 2016</option>
            <option value="28 November 2016">28 November 2016</option>
            <option value="14 November 2016">14 November 2016</option>
            <option value="31 October 2016">31 October 2016</option>
            <option value="17 October 2016">17 October 2016</option>
            <option value="03 October 2016">03 October 2016</option>
            <option value="19 September 2016">19 September 2016</option>
            <option value="05 September 2016">05 September 2016</option>
            <option value="22 August 2016">22 August 2016</option>
            <option value="08 August 2016">08 August 2016</option>
            <option value="25 July 2016">25 July 2016</option>
            <option value="11 July 2016">11 July 2016</option>
            <option value="27 June 2016">27 June 2016</option>
            <option value="13 June 2016">13 June 2016</option>
            <option value="30 May 2016">30 May 2016</option>
            <option value="16 May 2016">16 May 2016</option>
            <option value="02 May 2016">02 May 2016</option>
            <option value="18 April 2016">18 April 2016</option>
            <option value="04 April 2016">04 April 2016</option>
            <option value="21 March 2016">21 March 2016</option>
            <option value="07 March 2016">07 March 2016</option>
            <option value="22 February 2016">22 February 2016</option>
            <option value="08 February 2016">08 February 2016</option>
            <option value="25 January 2016">25 January 2016</option>
            <option value="11 January 2016">11 January 2016</option>
            <option value="28 December 2015">28 December 2015</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Display</button>
    </div>
</form>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td class="text-center col-md-4">Week 51</td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Mon</div>
                    <div>12 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Tue</div>
                    <div>13 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Wed</div>
                    <div>14 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Thu</div>
                    <div>15 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Fri</div>
                    <div>16 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Sat</div>
                    <div>17 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Sun</div>
                    <div>18 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MVC Application - Front-end development</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">20.00</td>
        </tr>
        <tr>
            <td>MVC Application - Back-end development</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">20.00</td>
        </tr>
        <tr>
            <th>Total</th>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">40.00</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td class="text-center col-md-4">Week 52</td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Mon</div>
                    <div>19 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Tue</div>
                    <div>20 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Wed</div>
                    <div>21 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Thu</div>
                    <div>22 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Fri</div>
                    <div>23 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Sat</div>
                    <div>24 Dec</div>
                </a>
            </td>
            <td class="text-center col-md-1">
                <a class="btn btn-default">
                    <div>Sun</div>
                    <div>25 Dec</div>
                </a>
            </td>
            <td class="text-center">Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MVC Application</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">20.00</td>
        </tr>
        <tr>
            <td>MVC Application</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">4.00</td>
            <td class="text-right">20.00</td>
        </tr>
        <tr>
            <th>Total</th>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">8.00</td>
            <td class="text-right">40.00</td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <a class="btn btn-default"><span class="glyphicon glyphicon-ok text-success"></span><span class="smallfont">Submit this Timesheet</span></a>
</div>