@{
    ViewBag.Title = "Home Page";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Tasks</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MVC Application - Front-end development</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
            <td>20</td>
        </tr>
        <tr>
            <td>MVC Application - Back-end development</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
            <td>20</td>
        </tr>
        <tr>
            <th>Total</th>
            <th>8</th>
            <th>8</th>
            <th>8</th>
            <th>8</th>
            <th>8</th>
            <th>8</th>
            <th>8</th>
            <th>40</th>
        </tr>
    </tbody>
</table>