@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Tasks</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">MVC Application - Front-end development</th>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
            <td>20</td>
        </tr>
        <tr>
            <th scope="row">MVC Application - Back-end development</th>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
            <td>20</td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>40</td>
        </tr>
    </tbody>
</table>