
@{
    ViewBag.Title = "Projects";
}

<form class="form-inline" id="timeentryfrm">
    <div class="form-group">
        <div>
            <label class="control-label">Customer:</label>
        </div>
        <select class="form-control" name="Customer">
            <option value="1" selected="">All Customers</option>
            <option value="2">ABC Services (Internal)</option>
            <option value="3">Adaptec</option>
            <option value="4">Citrus Corporation</option>
            <option value="5">e-Global Corporation</option>
        </select>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">Status:</label>
        </div>
        <select class="form-control" name="Status">
            <option value="1" selected="">All</option>
            <option value="2">Active</option>
            <option value="3">Disabled</option>
        </select>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">Text Search:</label>
        </div>
        <input class="form-control" name="TextSearch" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Display</button>
    </div>
    <div class="form-group pull-right">
        <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Add New Project</button>
    </div>
</form>

<table width="1370" cellspacing="1" cellpadding="2" class="table-bordered">
    <thead>
        <tr>
            <th><a href="">Customer</a></th>
            <th colspan="2"><a href="">Project Code</a></th>
            <th><a href="">Description</a></th>
            <th><a href="">Global</a></th>
            <th><a href="')">Budget<br>(ex GST)</a></th>
            <th><a href="">MYOB Job</a></th>
            <th><a href="">Print Template</a></th>
            <th><a href="">MYOB Comment</a></th>
            <th><a href="">Batch Print</a></th>
            <th><a href="">Charge-<br>able</a></th>
            <th><a href="">Export to MYOB</a></th>
            <th><a href="">Manager</a></th>
            <th><a href="">Reference</a></th>
            <th><a href="">Notes</a></th>
            <th><a href="">Status</a></th>
            <th colspan="4"><a href="javascript:StartHelp('../','ActionIcons')" style="cursor:help;">Actions</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ABC Services (Internal)</td>
            <td>ICTIM&nbsp;</td>
            <td><a href=""><span class="glyphicon glyphicon-user" title="View Staff for this Project"/></a><a href=""><span class="glyphicon glyphicon-list" title="View Tasks for this Project"/></a></td>
            <td>ABC Services - General Office Work</td>
            <td align="center">Yes</td>
            <td align="right">$0.00</td>
            <td>ICTIM          </td>
            <td title="Start &amp; Finish Times with Task and Description" nowrap="">Start &amp; Finish Times w...</td>
            <td>&nbsp;</td>
            <td align="center">No</td>
            <td align="center">No</td>
            <td align="center">No</td>
            <td></td>
            <td><span style="cursor:pointer;" title=""></span></td>
            <td><span style="cursor:pointer;" title=""></span></td>
            <td align="center">Active</td>
            <td align="center" width="20"><a href="javascript:SubPgRID('Update','ICTIM')"><span class="glyphicon glyphicon-edit" title="Edit this record"/></a></td>
            <td align="center" width="20"><a href="javascript:CannotDelete('ABC Services - General Office Work','Staff Project Records')"><span class="glyphicon glyphicon-trash" title="Delete this record"/></a></td>
            <td align="center" width="20"><a href="javascript:SubPgRID('Copy','ICTIM')"><span class="glyphicon glyphicon-copy" title="Copy this record"/></a></td>
            <td align="center" width="20"><a href="javascript:SubPgRID('Drilldown','ICTIM')"><span class="glyphicon glyphicon-zoom-in" title="View Time and Expenses details"/></a></td>
        </tr>
    </tbody>
</table>

